{% extends 'base.html.twig' %}
{% block title %}New Post{% endblock %}

{% block body %}
    {% if not post %}
        <h2>Post not found</h2>
    {% else %}
        {{post.title}}
        {{post.content}}
        {{post.postUser.name}}
        {{post.publishedAt | date('d') }} {{ post.publishedAt | date('F') }}
        <img src="{{ asset('images/blog/' ~ post.image) }}">
       
        <li><a href="{{ path('post_like', {slug: post.slug}) }}">LIKE</a> <i class="fa fa-heart sr-icons"></i> {{post.numLikes}}</li>
        <li><a class="page-scroll" href="#form">COMMENT</a> <i class="fa fa-comments sr-icons"></i> {{post.numComments}} |</li>
        </ul>
    {% endif %}
    {% for recent in recents %}
        {{ include ('partials/_recent_post.html.twig', {'recent': recent}) }}
    {% endfor %}
        {{ include ('partials/_form_comment.html.twig')}}

{% endblock %}