{% extends 'base.html.twig' %}
{% block title %}New Post{% endblock %}

{% block body %}
    {% if not post %}
        <h2>Post not found</h2>
    {% else %}
        {{post.title}}
        {{ asset('images/blog/' ~ post.image) }}
        {{post.content}}
        {{post.postUser.name}}
        {{post.publishedAt | date('d') }} {{ post.publishedAt | date('F') }}
    {% endif %}
    {% for recent in recents %}
        {{ include ('partials/_recent_post.html.twig', {'recent': recent}) }}
    {% endfor %}
        {{ include ('partials/_form_comment.html.twig')}}

{% endblock %}